<div class="jumbotron jumbotron-fluid">
<form>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <img src="{{ this.avatar }}" (error)="noAvatar()" alt="profile picture" width="250px" class="img-thumbnail mx-auto d-block">
      </div>
      <div class="col-sm">
        <label for="newAvatar" style="margin-top: 180px;">Promeni profilnu sliku</label>
          <div class="input-group">
            <div class="custom-file">
              <input type="file"  id="newAvatar" (change)="onFileSelected($event)">
              <button type="submit" class="btn btn-primary" id="btnUploadAvatar" (click)="uploadAvatar()">Upload</button>
                &nbsp;
              <button type="submit" class="btn btn-danger float-right" (click)="deleteAvatar()">Obriši avatar</button>
            </div>    
          </div>
        </div>
    </div>
  </div>
  <hr>
  <div class="container">
      <div class="form-group">
        <label for="name">Ime</label>
        <input type="text" [(ngModel)]="this.loggedUser.name" class="form-control" id="name" name="name">
      </div>
      <div class="form-group">
        <label for="age">Godine</label>
        <input type="number" [(ngModel)]="this.loggedUser.age" class="form-control" id="age" name="age">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" [(ngModel)]="this.loggedUser.email" class="form-control" id="email" name="email">
      </div>
      <div>
        <label for="createdAt">Vreme kreiranja: </label>
        <p id="createdAt">{{ this.loggedUser.createdAt | date:'dd.MM.y. u HH:mm' }}</p>
      </div>
      <div>
        <label for="updatedAt">Poslednja izmena: </label>
        <p id="updatedAt">{{ this.loggedUser.updatedAt | date:'dd.MM.y. u HH:mm' }}</p>
      </div>
      <button type="submit" class="btn btn-primary" (click)="updateUser()">Sačuvaj izmene</button>
      <button type="submit" class="btn btn-danger float-right" (click)="deleteUser()">Obriši profil</button>
  </div>
  </form>
</div>