<div class="input-group input-group-lg">
    <input type="text" class="form-control" [(ngModel)]="task.description">
    <div class="input-group-append">
        <button class="btn btn-success" type="button" (click)="createTask(task)">Dodaj task</button>
    </div>
</div>
  