<div class="container mb-5 mt-4">
  <app-add-task (newTask)="getTasks()"></app-add-task>
</div>
<div class="row" style="margin-bottom: 50px;">
  <div class="col">
    <button *ngIf="!hidden" class="btn btn-outline-secondary" type="button" (click)="hideCompletedTasks()">Sakrij zavrsene taskove</button>
    <button *ngIf="hidden" class="btn btn-outline-secondary" type="button" (click)="showCompletedTasks()">Prikazi sve taskove</button>
  </div>
</div>
<div class="input-group mb-3" *ngFor="let task of tasks">
  <div class="input-group-prepend">
    <div class="input-group-text">
      <input type="checkbox" style="cursor: pointer" [checked]="task.completed" (change)="toggleCompleted(task)">
    </div>
  </div>
  <input type="text" class="form-control" [(ngModel)]="task.description" [style.text-decoration]="task.completed ? 'line-through' : ' '">
  <div class="input-group-append">
    <button class="btn btn-outline-primary" type="button" (click)="changeDescription(task)">Izmeni</button>
    <button class="btn btn-outline-danger" type="button" (click)="deleteTask(task)">Obriši</button>
  </div>
</div>
